
h1 {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #004D9F;
}

.button-copied {
  background-color: #004D9F;
}

.button-copying {
  background-color: #004D9F;
}

.button-failed {
  background-color: #A52B2B;
}
